/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/*variable*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background-color: #ccc;
  padding: 30px;
  text-align: center;
  font-size: 12px;
}
.row {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.row .icon-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row .icon-work a:hover {
  color: #ed3330;
}
.column {
  padding: 10px;
  height: 98%;
}
.column.side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
@media (max-width: 500px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column-reverse;
  }
}
.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: grey;
  border-radius: 5px;
  /*nested*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  /* mixin*/
  width: 50%;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 0 auto;
}
.example_a h2 {
  align-content: center;
}
.example_a .table {
  width: 100%;
}
.example_a th {
  height: 50px;
}
.example_a .table,
.example_a th,
.example_a td {
  background-color: #ccc;
  /*variable*/
  border: 1px solid black;
  padding: 5px;
}
.example_a:hover {
  background: #ed3330;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
#page_wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
body {
  margin-bottom: 60px;
}
nav {
  /*nested*/
  height: 48px;
  padding: 10px;
}
nav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
nav li a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
  /* variable*/
}
nav li a:hover {
  color: #ed3330;
}
.work-table {
  /*nested*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.work-table h2 {
  align-content: center;
}
.work-table .table {
  width: 100%;
}
.work-table th {
  height: 50px;
}
.work-table .table,
.work-table th,
.work-table td {
  background-color: #ccc;
  /*variable*/
  border: 1px solid black;
  padding: 5px;
}
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
/* contant page*/
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
form div {
  margin-top: 1em;
}
form label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
form input,
form textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}
form input:focus,
form textarea:focus {
  border-color: #000;
}
form textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}
